@tailwind base;
@tailwind components;
@tailwind utilities;







.shape {
  position:absolute;
	
  width: 40px;

  height: 40px;
  /* bottom: -150px; */
  filter: blur(120px);
	/* animation: animate 80s linear infinite; */
  animation: zoomin 60% zoomout;
 
}
.shape:nth-child(1) {
  width: 200px;
  height: 200px;
  background: linear-gradient(130deg, #86a8e7, #91eae4);
  left: 60%;
	top: 60%;
	/* bottom: -150px; */

  /* animation-duration: 15s; */
}
.shape:nth-child(2) {
  width: 300px;
  height: 200px;
  background: linear-gradient(150deg, #b70e08, #ead791);
  left: 80%;
	top: 20%;

	/* bottom: -150px; */
 
}

.shape:nth-child(3) {
  width: 250px;
  height: 200px;
  background: linear-gradient(130deg, #9d50bb, #6e48aa);
  left: 30%;
	top: 60%;

	/* bottom: -150px; */

}
.shape:nth-child(4) {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #4259de, #484aaa);
  left: 1%;
	top: 10%;
	
	/* bottom: -150px; */

 
}






/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/


@keyframes animate {
	0% {
		transform: translateY(10px) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-4000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}
/*
-- End BackGround Animation 
*/