@tailwind base;
@tailwind components;
@tailwind utilities;







.shape {
  position:absolute;
	
  width: 50px;

  height: 50px;
  bottom: -150px;
  filter: blur(50px);
	animation: animate 80s linear infinite;

 
}
.shape:nth-child(1) {
  width: 300px;
  height: 300px;
  background: linear-gradient(130deg, #86a8e7, #91eae4);
  left: 60%;
	bottom: -100px;
	animation-delay: 1s;
  animation-duration: 15s;
}
.shape:nth-child(2) {
  width: 300px;
  height: 300px;
  background: linear-gradient(150deg, #86a8e7, #91eae4);
  left: 80%;
	animation-delay: 2s;
	bottom: -20px;
  animation-duration: 10s;
}

.shape:nth-child(3) {
  width: 250px;
  height: 250px;
  background: linear-gradient(130deg, #9d50bb, #6e48aa);
  left: 30%;
	animation-delay: 4s;
	bottom: -150px;
  animation-duration: 20s;
}
.shape:nth-child(4) {
  width: 250px;
  height: 250px;
  background: linear-gradient(135deg, #4259de, #484aaa);
  left: 1%;
	bottom: -150px;
	animation-delay: 3s;
  animation-duration: 15s;
}






/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/


@keyframes animate {
	0% {
		transform: translateY(10px) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-5000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}
/*
-- End BackGround Animation 
*/